body{
    background: #000;
    color: #ffffff;
}
.card{
    margin-top: 10%;
    margin-left: 35%;
    width: 300px;
    padding: 20px;
    align-items: center ;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 12px;
}
.card h1{
    text-align: center;
}
form input{
    margin-left: 20px;
    padding: 8px 20px;
    border: 1px solid black;
} 
.email input{
    margin-left: 44px;
    padding: 8px 20px;
    border: 1px solid black;
}
form button{
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
    padding: 10px 50px;
    border: 1px solid black;
    background: #001757;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.another{
    margin-left: 50px;
}
div a{
    color: #ffffff;
}
div a:hover{
    color: #d8d8d8;
}